:root{
    --color1:#FAFBFD; /*-4レベル*/
    --color2:#D8E1F2; /*-3レベル*/
    --color3:#B9CAE7; /*-2レベル*/
    --color4:#9DB5DD; /*-1レベル*/
    --color5:#84A2D4; /*±0レベル*/
    --color6:#6B8FCB; /*+1レベル*/
    --color7:#547EC3; /*+2レベル*/
    --color8:#416FBA; /*+3レベル*/
    --color9:#3A64A7; /*+4レベル*/
    --olange:#F28729;
}
/*============================================
                    HEADER
  ============================================*/
header {
    background-color: var(--color2);
}